<% if obj.errors.any? %>
  <div class="panel panel-warning">
    <div class="panel-heading">
      <div class="panel-title">
        <h4>
          <%= pluralize(obj.errors.count, "Error") %>
          prohibited form from being submitted:
        </h4>
      </div>
      <div class="panel-body">
        <ul>
          <% obj.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>