<% content_for :title, "Add a Destination Tag" %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'shared/errors', obj: @tag %>
    
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">Add a Destination Tag</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render "form", tag: @tag, action: "create" %>
      </div>
    </div>
  </div>
</div>