/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
}

.container {
  padding-top: 50px;
}

.navbar-brand {
  margin: 0 10px;
}

.navbar-brand img {
  position: absolute;
  top: 8px;
  left: 8px;
  width: auto;
  height: 35px;
}

.banner-logo img {
  width: auto;
  height: 200px;
}

a:link { 
    text-decoration: none;
}

#footer {
  bottom: 0;
  width: 100%;
  color: #2F4F4F;
  padding: 10px;
  text-align: center;
}

#body {
  padding-bottom: 60px;   /* Height of the footer */
}

#banner {
  height: 46rem;
  background-image: url('https://s3.amazonaws.com/lagawsuroy/Public/IMG_6069.JPG');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#banner h1 {
  font-size: 3.75rem;
  color: #ffa700;
}

#banner h1 small{
  color: #fff;
}

#banner img {
  height: 250px;
  margin: 10px;
}

.blog {
  margin: 50px 0;
}

.signature {
  color: #808080;
}

ul {
  list-style-type: none;
}

.featured img {
  height: 175px;
  width: auto;
  margin-top: 5px;
}

.featured-mod img {
  height: 100px;
  width: auto;
  margin-top: 5px;
}

.margin-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-margin {
  margin-top: 50px;
  margin-bottom: 50px;
}

.panel {
  border-top: 0;
}