/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
}

.container {
  padding-top: 50px;
}

.navbar-brand img {
  width: auto;
  height: 25px;
}

.banner-logo img {
  width: auto;
  height: 200px;
}

a:link { 
    text-decoration: none;
}

#footer {
  bottom: 0;
  width: 100%;
  color: #2F4F4F;
  padding: 10px;
  text-align: center;
}

#body {
  padding-bottom: 60px;   /* Height of the footer */
}

#banner {
  height: 46rem;
  background-image: url('https://s3.amazonaws.com/lagawsuroy/Manual+Uploads/IMG_6067.JPG');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#banner h1 {
  font-size: 3.75rem;
  color: #ffa700;
}

#banner h1 small{
  color: #fff;
}

.input-group {
  width: 500px;
  margin: 10px;
}

.input-group-addon {
  width: 60px;
}

ul {
  list-style-type: none;
}

.blog {
  margin-top: 50px;
  margin-bottom: 50px
}

.signature {
  font-style: italic;
  color: #808080;
}

.btn-margin {
  margin-top: 50px;
  margin-bottom: 50px;
}