/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px;
}

ul {
  list-style-type: none;
}

a:link { 
  text-decoration: none;
}

#footer {
  bottom: 0;
  width: 100%;
  color: #2F4F4F;
  padding: 10px;
  text-align: center;
}

#body {
  padding-bottom: 60px;   /* Height of the footer */
}

#banner {
  height: 46rem;
  background-image: url('https://s3.amazonaws.com/lagawsuroy/Public/IMG_6069.JPG');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#banner h1 {
  font-size: 3.75rem;
  color: #ffa700;
}

#banner h1 small{
  color: #fff;
}

#banner img {
  height: 250px;
  margin: 10px;
}

.container {
  padding-top: 50px;
}

.navbar-brand img {
  position: absolute;
  top: 8px;
  left: 15px;
  width: auto;
  height: 35px;
}

.blog {
  margin: 50px 0;
}

.signature {
  color: #808080;
}

.featured img {
  height: 175px;
  width: auto;
  margin-top: 5px;
}

.featured-mod img {
  height: 100px;
  width: auto;
  margin-top: 5px;
}

.embed-container {
  max-width: 400px;
}

.margin-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-margin {
  margin-top: 50px;
  margin-bottom: 50px;
}

.panel {
  border-top: 0;
}

.remove {
  position: absolute;
  right: 2px;
  top: -10px;
}

.limit {
  margin: 0 auto;
  max-width: 500px;
}

.text-limit p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}







/* MODAL */
/* Style the Image Used to Trigger the Modal */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.modal-close {
    position: absolute;
    top: 60px;
    right: 2%;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modal-close:hover,
.modal-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}