<% content_for :title, @category.name + " Category" %>

<hr>
<div class="text-center category-h1-container"><h1>&#x21FA; <%= "#{@category.name} Category" %> &#x21FB;<h1></div>
<hr>

<%= render 'shared/flash' if flash_list %>

<% if @category_tags.present? %>

  <%= render 'shared/thumbnail', obj: @category_tags %>

<% else %>

  <h4 class="text-center">No blogs associated with this category yet</h4>

<% end %>

<% if category_tags_count %> 
  <div class="margin-top-60 apple_pagination"><%= will_paginate @category_tags %></div>
<% end %>