<div id="banner">
  <%= image_tag "https://s3.amazonaws.com/lagawsuroy/Public/lagaw+suroy.png", class: "img-responsive" %>
  <h1>Travel Blog <small>Where your next destination matters</small></h1>
</div>
<div class="container margin-top-60">
  <span class="signature">
    <p class="text-center">“Layaw” is the Hiligaynon word equivalent to travelling and “Suroy” is the Cebuano word for it. Most of the places featured are local spots in Panay, Negros and Cebu Islands.</p>
    <p class="text-center">Going alone? No worries, we have our own sets of tour guides ready to accompany you to the places you want to visit while making sure you enjoy your privacy. With family and friends? We will provide you and your comrades with hassle free travel experience each with local touch of hospitality. </p>
    <p class="text-center">Each destination will surely be a unique travel experience.</p>
  </span>
</div>