<div id="footer">
  <a href="https://www.facebook.com/lagaw.suroy.3"><i class="fab fa-facebook-f"></i> &bull; @layawsuroy</a>
  </small>Copyright &copy; <%= Time.now.year %> Layaw Suroy</small>
</div> 